[package]
name = "blox-libs/BetterScale"
version = "1.0"
description = "Responsive UI scaling for Roblox. Set it up once and forget about it."
includes = [
    "pesde.toml",
    "README.md",
    "LICENSE",
    "src/**/*.luau",
]

[target]
environment = "roblox"
lib = "src/init.luau"
build_files = ["src"]
